
<div class="login">
	<%= form_for(@user_session,:url => authenticate_url) do |f| %>
	<div class="page-center">
		<% if @user_session.errors.any? %>
		<p class="error">
			<%= @user_session.errors.full_messages.first %>
		</p>
		<% end %>
		<div class="field">
			<%= f.text_field :email , :placeholder => "Email"%>
		</div>
		<div class="field">
			<%= f.password_field :password, :placeholder => "Password"%>
		</div>
		<div class="submit">
			<%= f.submit "Login"%>
		</div>
	</div>
	<% end %>

</div>
